/**
 * @file
 * Elevated Third Fresh CSS
 */

@import "base";

#page {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

#footer {
    clear: both;
}

#code-body {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 700px;
}

.hidden {
  display: none;
}

#icon-canvas {
  float: left;
}
#chooser-canvas {
  float: left;
}

.page-code-attributes {
  .form-radios {
    float: left;
    width: 100%;
    .form-item {
      float: left;
    }
  }

  .error {
    color: red;
  }


  label.option {
    display: inline-block;
  }

  .slider-container {
    width: 200px;
  }
}

