/**
 * @file
 * Elevated Third Fresh CSS
 */
/* line 8, ../sass/fresh.scss */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

/* line 14, ../sass/fresh.scss */
#footer {
  clear: both;
}

/* line 18, ../sass/fresh.scss */
#code-body {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 700px;
}

/* line 26, ../sass/fresh.scss */
.hidden {
  display: none;
}

/* line 30, ../sass/fresh.scss */
#icon-canvas {
  float: left;
}

/* line 33, ../sass/fresh.scss */
#chooser-canvas {
  float: left;
}

/* line 38, ../sass/fresh.scss */
.page-code-attributes .form-radios {
  float: left;
  width: 100%;
}
/* line 41, ../sass/fresh.scss */
.page-code-attributes .form-radios .form-item {
  float: left;
}
/* line 47, ../sass/fresh.scss */
.page-code-attributes label.option {
  display: inline-block;
}
/* line 51, ../sass/fresh.scss */
.page-code-attributes .slider-container {
  width: 200px;
}
