/* line 1, ../../sass/layouts/sidebar_right.scss */
body #content {
  width: 650px;
  margin-left: 0;
  margin-right: -650px;
}

/* line 7, ../../sass/layouts/sidebar_right.scss */
body .region-sidebar-second {
  width: 330px;
  margin-left: 650px;
  margin-right: -980px;
}

/* line 15, ../../sass/layouts/sidebar_right.scss */
body .region-sidebar-first,
body #content,
body .region-sidebar-second {
  float: left;
}
