body #content {
  width: 650px;
  margin-left: 0;
  margin-right: -650px;
}

body .region-sidebar-second {
  width: 330px;
  margin-left: 650px;
  margin-right: -980px;
}

body .region-sidebar-first,
body #content,
body .region-sidebar-second {
  float:left;
}